In [1]:
import pygame
def play_music(name):
    pygame.mixer.init()
    pygame.mixer.music.load(name)
    pygame.mixer.music.play()
play_music("The Weeknd - DIE FOR YOU (Lyrics).mp3")

pygame 2.6.0 (SDL 2.28.4, Python 3.12.4)
Hello from the pygame community. https://www.pygame.org/contribute.html

In [1]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

data = {
    'user_id': [1, 1, 1, 2, 2, 3, 3, 3, 4, 4],
    'item_id': [101, 102, 103, 101, 104, 102, 103, 104, 101, 103],
    'rating': [5, 3, 4, 4, 5, 2, 4, 5, 3, 4]
}

df = pd.DataFrame(data)

user_item_matrix = df.pivot_table(index='user_id', columns='item_id', values='rating').fillna(0)

item_similarity = cosine_similarity(user_item_matrix.T)
item_similarity_df = pd.DataFrame(item_similarity, index=user_item_matrix.columns, columns=user_item_matrix.columns)

def get_item_recommendations(item_id, item_similarity_df, top_n=5):
    similar_items = item_similarity_df[item_id].sort_values(ascending=False)
    
    recommendations = similar_items.drop(item_id).head(top_n)
    return recommendations

recommendations = get_item_recommendations(101, item_similarity_df)
print(recommendations)

item_id
103    0.653197
102    0.588348
104    0.400000
Name: 101, dtype: float64

In [9]:
item_similarity_df

item_id       101       102       103       104
item_id
101      1.000000  0.588348  0.653197  0.400000
102      0.588348  1.000000  0.800641  0.392232
103      0.653197  0.800641  1.000000  0.408248
104      0.400000  0.392232  0.408248  1.000000

In [7]:
user_item_matrix

item_id  101  102  103  104
user_id
1        5.0  3.0  4.0  0.0
2        4.0  0.0  0.0  5.0
3        0.0  2.0  4.0  5.0
4        3.0  0.0  4.0  0.0

In [2]:
def get_most_liked_recommendations(user_id, df, average_ratings, top_n=5):
    user_rated_items = df[df['user_id'] == user_id]['item_id'].tolist()
    
    recommendations = average_ratings.drop(user_rated_items).sort_values(ascending=False).head(top_n)
    return recommendations

In [8]:
average_ratings = df.groupby('item_id')['rating'].mean()
average_ratings

item_id
101    4.0
102    2.5
103    4.0
104    5.0
Name: rating, dtype: float64

In [5]:
most_liked_recommendations = get_most_liked_recommendations(1, df, average_ratings)
print(most_liked_recommendations)

item_id
104    5.0
Name: rating, dtype: float64